<div class="uk-container uk-container-center uk-margin-top">
    <div class="uk-panel uk-panel-box">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
        {{#if success}}
            <section class="success">
                <h2>Successful Verification</h2>
            </section>
        {{else}}
            {{#if errors}}
            <section class="error">
                <ul>
                    {{#each errors}}
                        <li>{{this.msg}}</li>
                    {{/each}}
                </ul>
            </section>
            {{/if}}
        {{/if}}

        <form action="/insert" method="POST" class="uk-margin">
        <div class="input">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" class="uk-input"> 
        </div>
        
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="uk-input">
        </div>

        <div>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="uk-input">
        </div>
            <button type="submit" class="uk-button">Submit</button>
        </form>

        <h1>Load Data</h1>
        <a href="/get-data">LOAD DATA</a>
        <div>
            {{#each items}}
            <article class="uk-margin-top">
                <div>Email: {{this.email}}</div>
                <div>Password: {{this.password}}</div>
                <div>ID : {{this._id}}</div>
            </article>
            {{/each}}
        </div>

        <h1>Update Data</h1>
        {{#if successUpdate}}
            <h2>Successfully Updated</h2>
        {{else}}
            {{#if errorsUpdate}}
                <ul>
                    {{#each errorsUpdate}}
                    <li>{{this.msg}}</li>
                    {{/each}}
                </ul>
            {{/if}}
        {{/if}}
        <form action="/update" method="POST" class="uk-margin">
        <div class="input">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" class="uk-input"> 
        </div>
        
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="uk-input">
        </div>

        <div>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="uk-input">
        </div>

        <div>
            <label for="userid">ID</label>
            <input type="text" id="userid" name="userid" class="uk-input">
        </div>
            <button type="submit" class="uk-button">Submit</button>
        </form>

        <h1>Delete Data</h1>
        <form action="/delete" method="POST" class="uk-margin">
            <div class="input">
                <label for="userid">ID to delete</label>
                <input type="text" id="userid" name="userid" class="uk-input">
            </div>

            <button type="submit" class="uk-button">Submit</button>
        </form>
    </div>
</div>